A Multivariate Regression Model for Estimation of Biodiesel Production from.pdf
AM-CLUSTER.pdf
AM-Distribuição normal em multivariada.pdf
AM-introdução.pdf
AM-Principal componente.pdf
Análise de Correlação e medidas de associação.pdf
characterization of semi‑arid chadian sweet sorghum accessions as potential sources for sugar and ethanol production.pdf
Conteúdo-1-–-N_Introdução-à-Estatística-Multivariada-e-análise-dos-dados.pdf
Disentangling Leaf Morphology in Daustinia montana (Convolvulaceae).pdf
Operação com matrizes.pdf
Prediction of Water Quality Using Principal Component Analysis.pdf
Principal component analysis a review and recent developments.pdf
Stopping Rules in Principal Components Analysis A Comparison of Heuristical and Statistical.pdf
The use of sagittal otoliths in discriminating stocks of common dolphinfish (Coryphaena hippurus) off northeastern Brazil using multishape descriptors.pdf
